@import "./SolutionsSectionBox.scss";
@import "./SolutionSectionBoxItem.scss";
@import "./SolutionsSectionAllServices.scss";

.solutions-section-box {
  background-image: url(../../img/Bg_image.png);
  padding: 100px 0;
  // background-position: center;
  background-size: cover;
  // width: 100%;
  // height: 100%;
}

.solutions-section-title {
  font-size: $main-fontSize-for-section-title;
  color: $main-white-color;
  text-align: center;
}
.solutions-section-subtitle {
  width: 864px;
  font-size: $main-fontSize-for-text;
  margin: 0 auto;
  margin-top: 20px;
  color: $main-white-color;
  text-align: center;
}
// .solution-bg-gradient {
//   width: 100%;
//   position: absolute;
// }
.AppEcommerce {
  background-image: url(../../img/a.png);
  background-position: center;
  // transition: all 0.5s;
}

.AppSalesMarketing {
  background-image: url(../../img/c.png);
  background-position: center;
  // transition: all 0.5s;
}

.AppAnalytics {
  background-image: url(../../img/d.png);
  background-position: center;
  // transition: all 0.5s;
}

.AppMiddleware {
  background-image: url(../../img/b.png);
  background-position: center;
  // transition: all 0.5s;
}

.parent {
  // margin: 20px;
  // height: 300px;
  border: 1px solid blue;
  overflow: hidden;
}
.child {
  // height: 100%;
  // width: 100%;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.child:hover,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
// @media screen and (max-width: 960px) {
//   .parent {
//     width: 100%;
//     margin: 20px 0px;
//   }
// }
