.solutions-section-all-services {
  display: grid;
  grid-template-columns: auto;

  justify-content: center;
  color: $main-white-color;
}
.solutions-section-all-services-text {
  border: 2px solid $main-white-color;
  margin-top: 100px;
  border-radius: 30px;
  padding: 10px 55px;
}

//------------------------------------------------------------------------------------------MOBILE VERSION

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .solutions-section-all-services {
    display: grid;
    grid-template-columns: auto;

    justify-content: center;
    color: $main-white-color;
  }
  .solutions-section-all-services-text {
    border: 3px solid $main-white-color;
    margin-top: 50px;
    border-radius: 30px;
    padding: 8px 55px;
    font-size: 14px;
  }
}
