.solutions-section-item-box {
  color: $main-white-color;
  font-size: $main-fontSize-for-text;
  max-width: 100%;
  margin-top: 70px;
  // width:480px;
  position: relative;
}
.solutions-section-item-img {
  max-width: 100%;
}
.solutions-section-item-title {
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-size: 25px;

  //   display: grid;
  //   justify-self: center;
  //   width: 25%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//------------------------------------------------------------------------------------------MOBILE VERSION

@media only screen and (max-width: 600px) and (min-width: 300px) {
  .solutions-section-item-box {
    color: $main-white-color;

    max-width: 100%;
    margin-top: 0px;
    // width:480px;
    position: relative;
  }
  .solutions-section-item-title {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-size: 17px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
