.about-section-box-second-row-item-box{
    // width:80%;
    display: grid;
    grid-template-columns:auto;
    justify-content: center;
    justify-self: center;
    }
    .about-section-text-row-items-title{
font-size: 30px;
color: $main-grey-color;
font-weight: bold;
text-align: center;
padding-bottom: 25.5px;
    }
    .about-section-text-row-items-text{
        border-top:1px solid  $main-grey-color; 
    width:320px;
    text-align: center;
    letter-spacing: 0px;
color: $main-grey-color;
padding-top: 25.5px;

    }
    .about-section-second-row-pics{
      
        // justify-self: center;
        margin-left: 50%;
    transform: translate(-50%, 0px);
    padding-bottom: 40px;
    }

    @media only screen and (max-width: 1500px) {
        .about-section-text-row-items-text{
            border-top:1px solid  $main-grey-color; 
        width:280px;
        text-align: center;
        letter-spacing: 0px;
    color: $main-grey-color;
    padding-top: 25.5px;
    
        }
      }
    