@import "../../../styles/_const.scss";

//-------------------------Clients Section
.clients-section-clients-items {
  width: 180px;
}
.clients-section-clients-items-box {
  margin-top: 70px;
}

//-------------------------Clients Section Clients
.clients-section-box {
  margin: 101px 0;
}

.clients-section-text {
  font-size: $main-fontSize-for-section-title;
  font-weight: bold;
  text-align: center;
}

.clients-section-clients-box {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-items: center;
  justify-content: center;
  column-gap: 158px;
}

@media only screen and (max-width: 1500px) {
  .clients-section-clients-box {
    column-gap: 108px;
  }
}
