.main-footer-second-box{
    background-color: #1C1B29;
    color: $main-white-color;
    font-size: $main-fontSize-for-text;
    font-weight: bold;
    display: grid;
    grid-template-columns: 80% auto auto;
    padding: 36px 114px 
}

@media only screen and (max-width: 1500px) {
    .main-footer-second-box{
        grid-template-columns: 70% auto auto;
    }
}