.main-footer-first-box{
    display: grid;
    grid-template-columns:auto auto auto;
    background-color: #1C1B29;
    // justify-content: center
    padding-bottom: 34px;
    border-bottom: 1px solid white;
}