@import "./ClientsSectionClients.scss";

.clients-section-box{
    // border:2px solid red;
    margin: 101px 0;

}

.clients-section-text{
    font-size: $main-fontSize-for-section-title;
    font-weight: bold;
text-align: center;

}

.clients-section-clients-box{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    justify-content: center;   
   column-gap: 158px; 
}

@media only screen and (max-width: 1500px) {

    .clients-section-clients-box{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-items: center;
        justify-content: center;   
       column-gap: 108px; 
    }
    
    }
    