@import "./ECommercePageBoxWithButtons.scss";
@import "./ECommercePageRightText.scss";
.ecommerce-page-box-for-box-and-text{
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 59%;
    // column-gap: 10%;
    // align-items: start;
}



// @media only screen and (max-width: 1500px) {
//     .ecommerce-page-box-for-box-and-text{
    
//         grid-template-columns: 40% 59%;
        
//     }
    
// }