.first-section-partners-box{
    // color:red;
    width:100%;
    // border:1px solid red;
    position: absolute;
    bottom: 0px;
    height: 150px;
    background: #0F0F0F;
    display: grid;
    grid-template-columns: 14% 11% auto;
    color:$main-white-color;
    align-items: center;
    font-size: $main-fontSize-for-text;
    
}

.first-section-partners-text{
    padding-left: 35%;
}


@media only screen and (max-width: 1500px) {
    .first-section-partners-box{
        grid-template-columns: 17% 15% auto;
        height: 120px;
      }
      .first-section-partners-text{
        padding-left: 30%;
    }
    
  }