@import "./EcommerceSuccessStoriesBox.scss";
@import "./EcommerceSuccessStoriesSubBox.scss";
@import "./EcommerceSuccessStoriesSubBoxButton.scss";
@import "./EcommerceSuccessStoriesSubBoxText.scss";
@import "./EcommerceSuccessStoriesButton.scss";

.ecommerce-success-stories-box {
  background-color: #efefef;
}
.ecommerce-success-stories-title {
  font-size: $main-fontSize-for-section-title;
  text-align: center;
  font-weight: bold;
  padding: 95px 0 100px 0;
  color: $main-title-and-text-color;
}
