.ecommerce-success-stories-button-box {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  color: $main-title-and-text-color;
  padding-bottom: 100px;
}

.ecommerce-success-stories-button-text {
  border: 3px solid #1c1b29;
  margin-top: 100px;
  border-radius: 30px;
  padding: 10px 55px;
  font-weight: bold;
  font-size: $main-fontSize-for-text;
}
