.bg1{
    background-image: linear-gradient(180deg, rgba(198,145,0,1) 0%, rgba(198,145,0,1) 0%, rgba(203,0,172,1) 100%);
}

.bg2{
    background-image: linear-gradient(180deg, rgba(204,48,180,1) 0%, rgba(204,48,180,1) 0%, rgba(43,15,134,1) 100%);
}

.bg3{
    background-image: linear-gradient(180deg, rgba(0,198,198,1) 0%, rgba(0,198,198,1) 0%, rgba(62,53,170,1) 100%);
}