.ecommerce-page-right-text-box{
    padding: 150px 11%;
    font-size: 25px;
}

@media only screen and (max-width: 1500px) {
    .ecommerce-page-right-text-box{
        padding: 120px 10%;
        font-size: 20px;
    }
}