.ecommerce-why-redkite-right-box-box {
  box-shadow: $main-box-shadow;
  justify-self: end;
  background-color: $main-white-color;
  width: 43%;
  height: 100%;
}

@media only screen and (min-width: 2200px) {
  .ecommerce-why-redkite-right-box-box {
    height: 110%;
  }
}
@media only screen and (min-width: 2300px) {
  .ecommerce-why-redkite-right-box-box {
    height: 120%;
  }
}

@media only screen and (max-width: 1806px) {
  .ecommerce-why-redkite-right-box-box {
    height: 90%;
  }
}
