
.get-in-touch-section-box-items-title{
    // justify-self: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}
.get-in-touch-section-box-items-text{
font-size: $main-fontSize-for-text;
text-align: center;
padding: 0 10% 30px 10%;
}
.get-in-touch-section-box-items-info{
    font-size: $main-fontSize-for-text;
    text-align: center;
    font-weight: bold;
    padding:0 10%;
}
.get-in-touch-section-box-items-button-box{
    // display: grid;
    // align-self: end;
    // position: relative;
    display: grid;
    // justify-items: end;
    // align-self: end;
    // margin-top: 100%;
    padding: 70px  0 50px 0;
}
.get-in-touch-section-box-items-button{
    border: 3px solid $main-white-color;
    border-radius: 30px;
    background: transparent;
    color:$main-white-color;
    padding: 10px 40px;
    justify-self: center;
    font-weight: bold;
   
}
.get-in-touch-section-box-items-icon{
    padding-top: 50px;
    padding-bottom: 20px;
   margin-left: 50%;
   transform: translate(-50%,0);
}
.get-in-touch-section-box-items-box{
// display: grid;
}
.get-in-touch-section-box-items-info1{
    color:transparent;
}
.getintouchBG1{
    background-image: linear-gradient(270deg, rgba(198,145,0,1) 0%, rgba(198,145,0,1) 0%, rgba(203,0,172,1) 100%);
    opacity: 0.8;
    outline: none;
}
.getintouchBG2{
    background-image: linear-gradient(270deg, rgba(204,48,180,1) 0%, rgba(204,48,180,1) 0%, rgba(43,15,134,1) 100%);
    opacity: 0.8;
    outline: none;
}
.getintouchBG3{
    background-image: linear-gradient(270deg, rgba(0,198,198,1) 0%, rgba(0,198,198,1) 0%, rgba(62,53,170,1) 100%);
    opacity: 0.8;
    outline: none;
}

@media only screen and (max-width: 1500px) {
    .get-in-touch-section-box-items-info{
        font-size: 15px;
    }
  }