// .testimonials-section-slider-box{
//   display: grid;
//   justify-items: center;
//   justify-content: center; 
//   background-color: white;
//   // margin: 0 auto;
//   border:2px solid red;
// }
.legend-author{
    text-align: center;
  font-weight: bold;
    letter-spacing: 0px;
    // color: #1C1B29;
    text-transform: capitalize;
    font-size: $main-fontSize-for-section-title;
    padding: 100px 0 50px ;
    width: 550px;
    // text-align: center;
    // border:1px solid red;
   margin:0 auto;
}

.legend-text{
    text-align: center;
  font-size: 25px;
    letter-spacing: 0px;
    color: $main-grey-color;
 width:200px;
//  border:2px solid red;
//  background: yellow;
 margin:0 auto;
 width: 54%;
 padding-bottom: 50px;
}
.carousel .control-dots .dot.selected{
  // background: #1C1B29;
}

.testimonials-section-slider-box1{
  // width: 80%;
}
@media only screen and (max-width: 1500px) {
  .legend-text{
  
 width: 80%;
}
}