@import "./styles/";
// @import "./styles/const";
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
}
label {
  cursor: pointer;
}
#root {
  overflow-x: hidden;
}

.notFoundWrapper {
  padding-top: 110px;
}

.page {
  min-height: 500px;
}

.errorBoundary {
  text-align: center;
  padding: 14px;
  font-size: 16px;
}
.errorElementHeight {
  height: 500px;
  top: 200px;
  display: block;
  padding-top: 150px;
}
